.bouquet {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouquet-dabal {
    width: 550px;
    height: 550px;
    background-image: url(../dabal_icon/dabal.png);
    background-size: 550px;
    background-repeat: no-repeat;
}

.bouquet-message {
    width: 400px;
    height: 400px;
    background-image: url(../dabal_icon/postit.png);
    background-size: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px 100px 70px;
    font-size: 25px;
}

.bouquet-dabal .dabal__flower img {
    max-width: 170px;
}

.dabal__flower {
    position: relative;
    width: max-content;
}

.dabal__flower-box {
    position: absolute;
    background-image: url(../dabal_icon/label\(gray\).png);
    background-size: cover;
    width: 200px;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    transition-duration: .3s;
}

.flower1 {
    top: -50px;
    left: 90px;
}

.flower2 {
    top: 160px;
}

.flower3 {
    top: 155px;
    right: 40px;
}

.dabal__flower-box .flower__name {
    font-size: 25px;
    margin-bottom: 5px;
}

.dabal__flower:nth-child(1) {
    top: 0px;
    left: 200px;
}

.dabal__flower:nth-child(1):hover .dabal__flower-box {
    opacity: 1;
}

.dabal__flower:nth-child(2) {
    top: -70px;
    left: 250px;
}

.dabal__flower:nth-child(2):hover .dabal__flower-box {
    opacity: 1;
}

.dabal__flower:nth-child(3) {
    top: -280px;
    left: 100px;
}

.dabal__flower:nth-child(3):hover .dabal__flower-box {
    opacity: 1;
}

.list-button {
    width: 170px;
    height: 70px;
    background-image: url("../dabal_icon/label\(gray\).png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-right: 40px;
    color: rgba(0,0,0,0.75)
}

.list-button:visited {
    color: rgba(0,0,0,0.75)
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}