.bouquet {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouquet-dabal {
    width: 550px;
    height: 550px;
    background-image: url(../dabal_icon/dabal.png);
    background-size: 550px;
    background-repeat: no-repeat;
}

.bouquet-message {
    width: 400px;
    height: 400px;
    background-image: url(../dabal_icon/postit.png);
    background-size: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px 100px 70px;
    font-size: 25px;
}

.bouquet-dabal .dabal__flower img {
    max-width: 170px;
}

.dabal__flower {
    position: relative;
    width: max-content;
}

.dabal__flower:nth-child(1) {
    top: 0px;
    left: 200px;
}

.dabal__flower:nth-child(1):hover {
    
}

.dabal__flower:nth-child(2) {
    top: -70px;
    left: 250px;
}

.dabal__flower:nth-child(3) {
    top: -280px;
    left: 100px;
}