@import 'question.css';

.main__question i {
    margin-right: 30px;
    margin-left: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.wheel {
    border: 3px pink solid;
    border-radius: 50%;
}

.whatever {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../dabal_icon/label\(gray\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 60px;
}