@import 'question.css';

.main__question i {
    margin-right: 30px;
    margin-left: 30px;
}

.options {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.color-box {
    width: 70px;
    height: 70px;
    background-color: white;
    position: absolute;
    border: 2px solid pink;
    top: 250px;
    right:-50px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.wheel {
    border: 3px white solid;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.whatever {
    cursor: pointer;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../dabal_icon/label\(gray\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 60px;
}

.whatever:visited{
    color: rgba(0, 0, 0, 0.75) !important
}