.header {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img {
    margin-right: 50px;
    height: 40px;
    width: auto;
}

.header a:hover{
    cursor: pointer;
}

.header .sentence {
    width: 90%;
    margin-right: 5%;
}

.sentence .sentence__phrase {
    font-size: 50px;
    margin-top: 10px;
    /* padding-bottom: 5px; */
    /* border-bottom: 2px solid black;
    margin-bottom: 10px; */

}
.sentence .sentence__recommend {
    font-size: 30px;
    color: grey;

}

