.header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img {
    margin-right: 30px;
    max-width: 50px;
}

.header a:hover{
    cursor: pointer;
}

.header .sentence {
    width: 90%;
    margin-right: 5%;
}

.sentence .sentence__phrase {
    font-size: 50px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;

}
.sentence .sentence__recommend {
    font-size: 30px;
    color: grey;

}

