@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');
@import 'progress_bar.css';

*{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
}

body {
    display: flex;
    flex-direction: row;
}
.main {
    min-width: 900px;
    min-height: 650px;
    width: 92vw;
    height: 100vh;
    background-image: url(../dabal_icon/grid_original.png);
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 30vw;
    font-size: 50px;
    margin-top: 50px;
}

.main__header img {
    width: 120px;
}

.main__header-title {
    margin-left: 50px;
}

.main__lists {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list__row {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list__column img{
    max-width: 170px;
}

.list__column .flower__name {
    font-size: 20px;
    margin-bottom: 5px;
}

