@import 'question.css';

.main__question i {
    margin-right: 30px;
    margin-left: 30px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    margin-bottom: 40px;
    margin-left: 20px;
}

.options img {
    max-width: 60px;
}

.option {
    font-size: 25px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options :nth-child(1) {
    position: relative;
    left: 390px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 60px;
}

.options :nth-child(2) {
    position: relative;
    bottom: -30px;
    left:150px
}

.options :nth-child(3) {
    position: relative;
    bottom: 100px;
    left: 50px;
}

.options :nth-child(4) {
    position: relative;
    bottom: 140px;
    left:60px;
}

.options :nth-child(5) {
    position: relative;
    bottom: 100px;
    right: -70px;
}

.options :nth-child(6) {
    position: relative;
    bottom: -30px;
    right: 20px;
}

.options :nth-child(7) {
    position: relative;
    bottom: -140px;
    right: 230px;
}

.options :nth-child(8) {
    position: relative;
    bottom: -140px;
    right: 480px;
}

li:nth-child(3) {
    list-style-type: disc;
}