/* progress-bar of bouquet & list page */

.progress-bar {
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    width: 8vw;
    height: 100%;
    /* background-color: #ffe6e6; */
    background-image: url(../dabal_icon/ui_panel.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    color: white;

    min-height: 650px;
}

.progress-bar .list{
    width: 55px;
    
}

.progress-bar a:visited {
    color: rgba(0, 0, 0, 0.80);
}

.map {
    margin-top: 20px;
    max-width: 55px;
}

.question-home {
    margin-top: 20px;
    max-width: 55px;
    margin-bottom: 10vh;
}

.circle:nth-child(1) {
    margin-top: 30px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 3px solid silver;
    margin-bottom: 15px;
}

.filled {
    background-color: black;
}