@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.80);
}

.main {
    width: 75vw;
    height: 100vh;
    background-color: white;
    background-image: url(../dabal_icon/grid_original.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__question {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-size: 50px;
}

.main__question img {
    height: 40px;
    width: auto;
    margin-right: 40px;
}

.options {
    width: 60vw;
}

.option {
    background-color: white;
    border: 3px solid pink;
}

.option:visited {
    color:rgba(0, 0, 0, 0.80);
}

.option:hover{
    color: white;
    background-color: pink;
}


/* questionì˜ progress-bar */

.progress-bar {
    width: 25vw;
    background-color: #ffe6e6;
    background-image: url(../dabal_icon/ui_panel.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
}

ul {
    list-style-type: circle;
}

li {
    font-size: 30px;
    margin-bottom: 10px;
    color:grey;
}

.selected {
    color: black;
    font-size: 40px;
}

.selected_li {
    color: black;
}

li > span {
    color: rgb(172,146,120);
    color: grey;
    /* color: lightgray */
}


.home {
    margin-right: 20px;
    margin-top: 20px;
    position:fixed;
    right:0px;
    font-size: 50px;
}

.options {
    font-family: 'Jua', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

