@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.75);
}

.main {
    min-width: 700px;
    width: 75vw;
    height: 100vh;
    background-color: white;
    background-image: url(../dabal_icon/grid_original.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__question {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-size: 50px;
}

.main__question img {
    height: 40px;
    width: auto;
    margin-right: 40px;
}

.options {
    width: 60vw;
    position: relative;
    z-index: 1;
}


.slider, .slider::after {
    transition: all .3s;
}

.option {
    background: none;
    border: 3px solid pink;
    overflow: hidden;
    position :relative;
}

.slider:before,
.slider:after {
    position: absolute;
    background: pink;
    content:'';
    z-index: -1;
}


.slider:hover {
    color: white !important;
}

.slider::after {
    height: 100%;
    left: -80% ;
    top:0 ;
    transform: skew(30deg);
    transition-duration: .6s;
    transform-origin: top left;
    width: 0;
}

.slider:hover::after {
    height: 100%;
    width: 170%;
}


.option:visited {
    background-image: none;
    color: rgba(0, 0, 0, 0.75)
}



/* questionì˜ progress-bar */

.progress-bar {
    min-width: 250px;
    width: 25vw;
    background-color: #ffe6e6;
    background-image: url(../dabal_icon/ui_panel.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
}

ul {
    list-style-type: circle;
}

li {
    font-size: 30px;
    margin-bottom: 10px;
    color:grey;
}

.selected {
    color: black;
    font-size: 40px;
}

.selected_li {
    color: black;
}

li > span {
    color: rgb(172,146,120);
    color: grey;
    /* color: lightgray */
}


.home {
    margin-right: 20px;
    margin-top: 20px;
    position:fixed;
    right:0px;
    max-width: 80px;
}

.options {
    font-family: 'Jua', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    position:fixed;
    margin-right: 20px;
    margin-bottom: 20px;
    right: 0px;
    bottom: 0px;
    width: 120px;
}

