@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
    color:rgba(0,0,0,0.75)
}

.main {
    width: 75vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__question {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-size: 50px;

}

.options {
    width: 60vw;
}

.progress-bar {
    width: 25vw;
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
}

ul {
    list-style-type: circle;
}

li {
    font-size: 25px;
    margin-bottom: 10px;
    color:lightsalmon;
}

li > span {
    color:rgba(0,0,0,0.75);
}

.home {
    margin-right: 20px;
    margin-top: 20px;
    position:fixed;
    right:0px;
    font-size: 50px;
}

.options {
    font-family: 'Jua', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

