@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import 'header.css';
@import 'bouquet.css';

* {
    box-sizing: border-box;
    
}

body {
    min-width: 800px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Pen Script', cursive;
}


.main {
    width: 90vw;
    height: 100vh;
    background-color: rgba( 255, 255, 255, 0.85 );
}

.progress-bar {
    width: 10vw;
    background-color: silver;
}