@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');
@import 'header.css';
@import 'bouquet.css';
@import 'progress_bar.css';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-start;
    font-family: 'Do Hyeon', sans-serif;
}


.main {
    width: 90vw;
    height: 100vh;
    background-color: rgba( 255, 255, 255, 0.85 );
}

