@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@500&display=swap');
@import 'header.css';
@import 'bouquet.css';
@import 'progress_bar.css';

/* bouquet main */

* {
    box-sizing: border-box;
}

html {
    min-width: 1000px;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    font-family: 'Do Hyeon', sans-serif;
    overflow: hidden;
    color:rgba(0, 0, 0, 0.85);
}


.main {
    min-width: 1000px;
    min-height: 650px;
    width: 92vw;
    height: 100vh;
    background-image: url(../dabal_icon/grid_original.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


li {
    color :white;
}