@import './reset.css';
*{
    box-sizing: border-box;
}
body {

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 92vw;
    min-width: 500px;
    min-height: 650px;
    background-image: url("../dabal_icon/grid_original.png");
    background-size: 100%;
    background-repeat: repeat-y;
}

#back{
    height: 43px;
    width: 80px;
    float: left; 
    position: relative;
    left: -60px;
}
.nav_bar{
    position: fixed;
    right: 0px;
    background-image: url("../dabal_icon/ui_panel.png");
    height: 100%;
    width: 8vw;
    float: right;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    z-index: 0;
}
.nav_icon{
    margin-top: 20px;
    max-width: 55px;
}
.title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}
.clearfix {
    clear:both;
}
.logo_top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#logo_p{
    margin-bottom:0.5%;
    margin-right:-2%;
    height: 75px;
}
#logo_w{
    height: 70px;
    margin-left: 20px;
}
.wrap{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.question{
    font-size: 25px;
}
.search {
    position: relative;
    display: flex;
}
.searchTerm {
    font-size: 15px;
    width: 250px;
    border: 3px solid pink;
    border-right: none;
    padding: 5px;
    height: 41px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: 'Jua', sans-serif;
}
.searchButton {
    width: 48px;
    height: 41px;
    border: 1px solid pink;
    background: pink;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.cart{
    margin-left: 20px;
    height: 50px;
    width: 50px;
}
.image{
    width: 4.5cm;
    height: 4.5cm;
}
table{
    border-spacing: 25px 0;
}
.text{
    text-align: center;
    background-image: url("../dabal_icon/label\(gray\).png");
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Jua', sans-serif;
    height: 60px;
    width: 160px;
    padding-top: 14px;
}