@import "./reset.css";

*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}
#back{
    height: 43px;
    width: 80px;
    float: left; 
    position: relative;
    left: -60px;
}
.main {
    width: 92vw;
    height: 100vh;
    background-image: url("../dabal_icon/grid_original.png");
    background-size: cover;
    display: flex;
    min-width: 500px;
    min-height: 650px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.nav_bar{
    background-image: url("../dabal_icon/ui_panel.png");
    height: 100vh;
    min-width: 70px;
    width: 8vw;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top:10px;
}
.nav_icon{
    max-width: 55px;
    margin-top: 20px;
}
.clearfix {
    clear:both;
}
.logo_top{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_p{
    margin-bottom:0.5%;
    margin-right:-2%;
    height: 75px;
}
#logo_w{
    height: 70px;
}
.middle{
    font-family: 'Jua', sans-serif;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 50px;
}
.question{
    font-size: 25px;
    margin-bottom: 10px;
}
.search {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}
.searchTerm {
    font-size: 15px;
    width: 380px;
    border: 3px solid pink;
    border-right: none;
    padding: 5px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: 'Jua', sans-serif;
}
.searchButton {
    width: 55px;
    height: 46px;
    border: 1px solid pink;
    background: pink;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.keywords{
    display: inline-block;
    margin-right: 14px;
    color: pink;
}
#recommend{
    margin-bottom: 5px;
}